*.class
*.jar
*.swo
*.swp
.#*
.DS_STORE
.cpcache
.env
.shadow-cljs/*
.tags
/.nrepl-port
/.repl
/checkouts/
/classes
/lib/
/log/
/out/
/resources/public/js/**
/target/
node_modules
pom.xml
pom.xml.asc
